nav{
margin-left: 100px;
}
nav ul {
margin: 0;
padding: 0;
list-style-type: none;
}
nav ul li{
display:inline-block;
position: relative;
}

nav a{
color: #659DBD;
text-decoration: none;
display: inline-block;
border: 3px solid black;
padding: 20px 20px 20px 20px;
width: 150px;
background-color: #8D8741;

}
nav ul li ul {
display: none;
position: absolute;
background-color: #8D8741;
top: 100%;
}

nav ul li:hover ul {
display:block;
}

nav ul li ul li a:hover {
background-color: #f3f3f3;
}
#hamburger {
    display: none
}
@media only screen and (max-width: 640px) {
    header {
        position: relative;
        height: 40px;
        display: inline-block;
        background-color: #659DBD;
        width: 100%;
    }
    nav {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 10;
        
        
    }
    #hamburger {
        display: block;
        width: 26px;
        font-size: 2em;
    }
    
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 0 20px 20px 0px;
        top: 30px;
    }
    nav:hover ul {
        display: block;
    }
    nav:hover #mobileHide {
        display: none;
    }
    nav li {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    nav>ul li {
        text-align: left;
        font-weight: bold;
        color: #000000;
        float: left;
    }
    nav a {
        text-decoration: none;
        display: inline-block;
        border-top: none;
        border-bottom: none;
        padding: 15px 0px 15px 35px;
        width: 240px;
        margin-bottom: 2px;
    }
    nav.lastMobile {border-bottom: 3px solid #000000}
    nav ul li ul {
        display: none;
    }
}