/*Title: Style CSS
    Use: to style html pages
    School/Term: University of Missouri, Spring 2020
    Validated: May 9, 2020*/
@font-face{
    font-family: 'PlayfairDisplay', serif;
    src: url("PlayfairDisplay-VariableFont_wght.ttf")
}

* {margin: 0; padding: 0;}
body {margin-left: 30px; width: 95%; background-color: #C9DAD8; min-height: 100%;}

/*all pages*/
h1 {padding: 10px; font-size: 30pt; font-family:fantasy; color: #7A4938;}
h3 {color: #FFFFFF; font-size: 24pt; font-family: cursive;}
footer {font-size: 16pt; border-top: 6px solid #000000; padding-top: 5px; bottom: 0; clear:both; max-width: 100%;;}
a:link {color: #0000FF;}
a:hover {color: #FF00FF;}
a:focus {color: #FFFF00;}
a:visited {color: #DAAD86;}
a:active {color: #FFFFFF;}
a{text-decoration:none;font-size:14pt;}

#iconA {
float: left;
width: 15px;
}
#iconB {
float: left;
width: 15px;
}

#iconA:hover{
    transform: scale(2.0);
}

#iconB:hover{
    transform: scale(2.0);
}

/*experience page*/
#Goal1 p{
    font-size: 16pt;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 150%;
}

#Goal2 p{
    font-size: 16pt;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 150%;
}

#Goal3 p{
    font-size: 16pt;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 150%;
}

footer{
    background-image:url(images/footerbackground.jpg)
}

/*accomplishments page*/
main .y {float: left; width: 70%; height: 600px;}
aside .x {float: right; width: 30%;}
p.deg {font-size: 25px; padding-top: 20px; font-weight: bold;}
p.certificates {font-size: 25px; padding-top: 20px; font-weight: bold;}
p.grad {font-size: 25px; padding-top: 20px; font-weight: bold;}
ul.a {font-family:monospace; font-size: 18pt; padding-bottom: 20px; padding-right: 20px;}
ul.b {font-family:monospace; font-size: 18pt; padding-bottom: 20px;}
ul.c {font-family:monospace; font-size: 18pt;}
caption {
    font-size: 18pt;
    padding-top: 20px;
}
table {
    width: 250px;
}
th {
    text-align: left;
    background-color: #FBEEC1;
    font-size: 14pt;
}
td {
    font-size: 12pt;
}
table, th, td {
    border: 5px solid #000000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #BC986A;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/*home page*/
main {float: left; width: 55%; height: 100%; padding-right: 5%;}
aside {float: right; width: 35%; padding-left: 5%;}
img {float:inherit; width: 220px; margin-right:0;}
#floatLeft {float: left; width: 380px; }
#floatUnder{
    clear: both;
    float: left;
}
p.info {font-size: 16pt;}
ul.cert {font-size: 16pt;}
ul.education {font-size: 16pt;}
ul.career {font-size: 16pt;}
blockquote.quote {font-size: 16pt;}
p.overview {font-size: 16pt; padding-top: 10px;}
p.certifications {font-size: 20pt; font-weight: bold;}
p.ed {font-size: 20pt; font-weight: bold;}
p.career {font-size: 20pt; font-weight: bold;}
p.positions {font-size: 20pt; font-weight: bold;}
ul.held {font-size: 16pt;}

/*reflection page*/
p.k:first-child::first-letter{font-weight: bold;font-style: italic}
p.l:first-child::first-letter{font-weight: bold;font-style: italic}
p.m:first-child::first-letter{font-weight: bold;font-style: italic}
p.k{font-size: 18pt; padding-top: 20px; text-align:center; padding-bottom: 10px;}
p.l{text-indent: 30px; font-size: 18pt; text-align: center; padding-bottom: 10px;}
p.m{text-indent: 30px; font-size: 18pt; text-align: center;}

/*contact*/
#funpic {
    padding-top: 50px;
    width: 400px;
}

label {
    float: left;
    /*pushes form left or right like padding*/  
    width: 5em;
    /*bolds the text*/
    font-weight: bold;
    /*aligns text right*/
    text-align: right;}

input {
    width: 15em;
    margin-left: 1em;
    margin-bottom: .5em;}

textarea {
    height: 200px;
    width: 50%;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
}

#button, #reset {
    width: 7em;
    background-color: silver;}

#button {margin-left: 7em;}

#button:hover {background-color: green;}
#reset:hover {background-color: red;}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*resume*/
iframe {
    width: 560px;
    height: 315px;
}

/*responsive*/

@media screen and (max-width:640px){
    body{
        width: 90%;
    }
    
    main{
        position: relative; 
        width:100%; 
        top: 80px;
        height: 250%;
        min-height: 100%;
        padding-bottom: 100px;
    }
    
    footer{
        position:inherit;
    }
    
    #Goal1 p, #Goal2 p, #Goal3 p{
    font-size: 12pt;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 90%;
}
    #ResponsiveTable, 
    #ResponsiveTable tbody,
    #ResponsiveTable tr,
    #ResponsiveTable td {
        display:block;
        }
    #HeadRow {
        position:absolute;
        left:-9999px;
        top:-9999px;
    }
    #ResponsiveTable td{
        border:none;
        position:relative;
        padding-left:40%;
        white-space:normal;
        text-align:left;
    }
    #ResponsiveTable td:before {
        position:inherit;
        top:5px;
        left:5px;
        width:40%;
        padding-right:10px;
        white-space:nowrap;
        text-align:left;
        font-weight:bold;
        content:attr(tableHeadData);
    }
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Print stylesheet*/
@media print {
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;    
    }
    nav, #iconA, #iconB {
        display: none;
    }
    header {
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    h1 {
        border: none;
    }
    a[href^="http:"]::after {
        content: " ["attr(href)"]";
        color: blue;
    }
    @page {
        margin: .5cm;
    }
    @page :first {
        margin-top: 2cm;
    }
    p, ul {
        font-size: 11pt;
    }
    aside {
        position:inherit;
    }
    img{
        max-width: 500px;
    }
    aside{
        page-break-before: always;
    }
}