/*Title: Style CSS
    Use: to style html pages
    School/Term: University of Missouri, Spring 2020
    Validated: April 12, 2020*/
h1 
{color: #FFFFFF;
}
h1 {font-size: 30pt; font-family:sans-serif; border-color: #000000; border-style: solid; border-width: thick; background-color: #0000FF;}
h3 {color: #CC00CC; font-size: 24pt}
footer {font-size: 16pt;}
a:link {color: #FF0000}
a:hover {color: #FF00FF}
a:focus {color: #FFFF00}
a:visited {color: #00FF00}
a:active {color: #0000FF}
a{text-decoration:none;font-size:10pt;}
p {font-size: 16pt; font-family:inherit;}
li.e {color: #0000FF}
li.f {color: #FF0000}
li.g {color: #FF0000}
img {float: right;
    padding: 12px 12px 0px 12px;
    margin: 12px 12px 12px 12px}
div {clear: right;}
body li {font-size: 14pt}
body {background: #FFFFCC}
footer {border-top: 6px solid #000000;
padding-top: 5px}
ul.a {font-family:monospace}
ul.b {font-family:monospace}
ul.c {font-family:monospace}
body {margin: 15px 15px 15px 15px}